.vds{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.vds>div{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.vds iframe{
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.each-fm{
    width: 80%;
    height: 350px;
    
}

@media only screen and (min-width: 200px) and (max-width: 480px){
    .vds{
        grid-template-columns: repeat(1,1fr);
     }
     .each-fm{
        width: 90%;
        height: 350px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 850px){
    .each-fm{
        width: 95%;
        height: 350px;
    }
}